[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "IFMCDM"]
	path = IFMCDM
	url = https://github.com/a-dudek-ue/ifmcdm
[submodule "clusterSim"]
	path = clusterSim
	url = https://github.com/cran/clusterSim
[submodule "mdsOpt"]
	path = mdsOpt
	url = https://github.com/cran/mdsOpt
[submodule "symbolicDA"]
	path = symbolicDA
	url = https://github.com/cran/symbolicDA
